.App {
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* app window shadow */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  width: 260px;
  height: 93px;
  background-color: #ffffff;
  font-family: 'MuseoSans700',Arial,sans-serif;
  overflow: auto;
  border: 2px #089FE4;
}

li:nth-child(2n) {
  background-color: #F0F8F9; /* alternates background-color for each even item on the list */
}

ol {
  list-style: none; /* Removes default style */
  padding: 0; /* Removes paddings */
  margin: 0; /* Removes margins */
  text-align: center; /* align text */
}
