#logo {
    display: block;
    border-color: white;
    width: 160px;
    height: 36px;
    border: 10px solid white;
    /* color: #089FE4;     */
    /* color: #07cab2;     */
    margin-left: auto;
    margin-right: auto;
 }
 
 #content {
     border: 10px solid #07cab2;
     text-align: center;
     font-size: 15px;
     font-weight: bold;
     color: white; 
     background-color: #07cab2;
 }